{% extends 'base.html' %}

{% block content %}
    <main role="main">
        <!-- <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
            </div>
        </div>
 -->
        <div class="container mb-5">
        <!-- Example row of columns -->
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <h2>{{ product.name }}</h2>
                        <a href="{% url 'product' product.id %}">
                            <img src="{{ product.image.url }}" width="180">
                        </a>
                        <form method="POST" action="{% url 'cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="action" value="add">
                            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- /container -->
    </main>
{% endblock %}